{% extends "base.jinja" %}

{% block content %}
    <h3>About LFG</h3>
    <p>
        If you've found that the toughest monster your gaming group has grappled with is your schedule, look no further!
    </p>
{% endblock  %}
